@import 'colors';

@mixin blinking-cursor {
  .cursor {
    position: relative;
  }
  .cursor i {
    position: absolute;
    width: 2px;
    height: 40%;
    background-color: $pale-green;
    left: 25px;
    top: 30%;
    animation-name: blink;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
    opacity: 1;
  }
  .cursor input:focus + i {
    display: none;
  }
  @keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
  }
}
