$cold-green: #017575;
$dark-brown: #6b5e31;
$dark-cyan: #316570;
$dark-green: #3e7531;
$darker-green: #0c2024;
$darker-red: rgb(53, 2, 2);
$deep-yellow: #febc28;
$hot-orange: #ff953f;
$milky-white: #f9f4ce;
$pale-blue: #97c8d9;
$pale-green: #9fc184;
$warm-green: #4b7925;
$cloudy-gray: rgb(178, 187, 189);

@keyframes color-gold {
  from {
    color: $hot-orange;
  }

  to {
    color: $deep-yellow;
  }
}

@mixin gold {
  animation: color-gold 0.3s infinite alternate;
}

@keyframes background-gold {
  from {
    background-color: $hot-orange;
  }

  to {
    background-color: $deep-yellow;
  }
}

@mixin bg-gold {
  animation: background-gold 0.3s infinite alternate;
}
