@mixin fz-13 {
  font-size: 0.7em;
}

@mixin fz-14 {
  font-size: 0.75em;
}

@mixin fz-15 {
  font-size: 0.8em;
}

@mixin fz-16 {
  font-size: 1em;
}

@mixin fz-18 {
  font-size: 1.1em;
}

@mixin fz-24 {
  font-size: 1.5em;
}

@mixin fz-32 {
  font-size: 2em;
}
