@import 'colors';
@import 'fonts';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

html,
body {
  overflow: hidden;
}

body {
  color: $milky-white;
  height: 100vh;
  margin: 0;
  }

#root {
  height: 100%;
  overflow: hidden;
}

.bg {
  height: 100%;

  &:before,
  &:after {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    transition: background-color 0.2s, opacity 0.2s;
  }

  &:before {
    background-color: $darker-green;
  }

  &:after {
    opacity: 0;
  }

  &.is-blood-moon:after {
    background-color: $darker-red;
    background-image: url(../assets/bloodmoon.svg);
    background-position: center top;
    background-size: cover;
    opacity: 1;
  }
}

.main {
  display: grid;
  grid-template-rows: 4em 3fr auto 2fr auto;
  margin: auto;
  height: 100%;
  max-width: 960px;
  overflow: hidden;
  padding: 0 32px;

  @media (max-width: 480px) {
    padding: 0 16px;
  }

  .seednumberbox {
    @include f-mono;
    border: 1px solid $pale-green;
    border-radius: 4px;
    padding: 0.2em 0.5em;
    margin: 0 1em;
  }

  .seedpicker {
    grid-row: 2/5;

  }

  .run-display {
    display: contents;

    .history {
      flex: 1 1 auto;
      overflow: hidden;

      .historylist {
        scrollbar-width: 0;

        @media (min-width: 720px) {
          // width: calc(100% + 17px); // Scrollbar hider for desktop
        }

        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
      }

      .historylist::-webkit-scrollbar {
        display: none;
      }
    }

    .history,
    .waypoint.current {
      max-width: 720px;
      margin: 0 auto;
      width: 100%;

      @media (max-width: 480px) {
        margin: 0;
      }
    }

    .history .waypoint,
    .waypoint.current {
      display: grid;
      grid-template-columns: 2.2em 1fr 3em 5em;
      gap: 0 8px;
      align-items: center;

      @media (max-width: 480px) {
        grid-template-columns: 1.4em 1fr 3em 3em;
        width: 100%;
      }
    }
  }
}

.splashscreen {
  align-items: center;
  display: flex;
  grid-row: 3/6;
  justify-content: center;
}

.touchpanel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
  margin: 12px 0;
}

button.split {
  height: 4.7em;
  grid-column: 1/5;
}
