@import 'colors';
@import 'fonts';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

html {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

html,
body {
  overflow: hidden;
}

body {
  color: $milky-white;
  height: 100vh;
  margin: 0;
}

#root {
  height: 100%;
  overflow: hidden;
}

.bg {
  height: 100%;

  &::before,
  &::after {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    transition: background-color 0.2s, opacity 0.2s;
    width: 100%;
    z-index: -1;
  }

  &::before {
    background-color: $darker-green;
  }

  &::after {
    opacity: 0;
  }

  &.is-blood-moon::after {
    background-color: $darker-red;
    background-image: url('../assets/bloodmoon.svg');
    background-position: center top;
    background-size: cover;
    opacity: 1;
  }
}

.main {
  display: grid;
  grid-template-rows: 4em 3fr auto 2fr auto;
  height: 100%;
  margin: auto;
  overflow: hidden;
  padding: 0 32px;

  @media (max-width: 600px) {
    padding: 0 16px;
  }

  .seednumberbox {
    @include f-mono;
    border: 1px solid $pale-green;
    border-radius: 4px;
    margin: 0 1em;
    padding: 0.2em 0.5em;
  }

  .seedpicker {
    grid-row: 2/5;

  }

  .run-display {
    display: contents;

    .history {
      flex: 1 1 auto;
      overflow: hidden;

      .historylist {
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-width: 0;
      }

      .historylist::-webkit-scrollbar {
        display: none;
      }
    }

    .history,
    .waypoint.current {
      margin: 0.5em auto;
      max-width: 720px;
      width: 100%;
    }

    .history .waypoint,
    .waypoint.current {
      align-items: center;
      display: grid;
      gap: 0 8px;
      grid-template-columns: 3em 1fr 4.5em 8em;

    }
  }
}

.splashscreen {
  align-items: center;
  display: flex;
  grid-row: 3/6;
  justify-content: center;
}

.touchpanel {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 12px 0;
}

button.split {
  grid-column: 1/5;
  height: 4.7em;
}
